body{
  background-color: #252839;
  height:100vh;
}

.profile-el{
  display: inline-block;
  margin-left:13%;
}

.lower-profile{
  margin:100px;
  padding:50px;
  background-color:aliceblue;
  width:70%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 16%;
}

.ui.items>.item>.content>.header, .ui.items>.item .meta {
  color:#252839;
}