body{
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-position: bottom;
}

.profile-el{
  display: inline-block;
  margin-left:13%;
}

.lower-profile{
  margin:100px;
  padding:50px;
  background-color:aliceblue;
  width:70%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 16%;
}

.ui.items>.item>.content>.header, .ui.items>.item .meta {
  color:#252839;
}

.ui.segment.rightSideOfLogIn{
  background-image: url('../../assets/login.jpg');
  background-size: 100%;
}

.ui.segment.Student{
  background-image: url('../../assets/studentphoto4.jpeg');
  background-size: 100%;
}
