
.App {
  text-align: center;
  background-color: #282c34;
  width:100vw;
  height:100vh;
}

.App-Main{
 display: flex;
 justify-content: center;
 padding-top:10%;
}

form{
  display: flex;
  flex-direction: column;
  color:white;
  width:250px;
  border:1px solid white;
  padding:5%;
  justify-content: center;
}
input, label{
  margin:10px;
}

.submit{
  margin:30px;
  background-color: white;
  border-radius: 20pt;
  width:100px;
  height:30px;
  margin-left: 35%;
}